body {
    background-color: #D4ECDD;
    color: #112031;
}

hr {
    background-color: #D4ECDD;
    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 4px;
    width: 40px;
}

h1 {
    color: #112031;
}

h3 {
    color: #152D35;
}